.App {
  text-align: center;
  background-color: #dcdcdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(45, 45, 45);
}
